<div class="login-component">
    <form (ngSubmit)="doLogin()">
        <div class="row" *ngIf="errors">
            <span *ngFor="let error of errors" class="error-message">{{error}}</span>
        </div>
        <div class="row">
            <input type="text" name="username" [(ngModel)]="username" required />
        </div>
        <div class="row">
            <input type="password" name="password" [(ngModel)]="password" required />
        </div>
        <div class="row">
            <button type="submit">Login</button>
            <a routerLink="/auth/registration">Registration</a>
        </div>
    </form>
</div>