<div class="registration-component">
    <form (ngSubmit)="doRegistration()">
        <div class="row" *ngIf="errors">
            <p *ngFor="let error of errors" class="error-message">{{error}}</p>
        </div>
        <div class="row">
            <label>Benutzername:
                <input type="text" name="username" [(ngModel)]="user.username" required />
            </label>
        </div>
        <div class="row">
            <label>E-Mail:
                <input type="email" name="email" [(ngModel)]="user.email" required />
            </label>
        </div>
        <div class="row">
            <label>Passwort:
                <input type="password" name="password" [(ngModel)]="user.password" required />
            </label>
        </div>
        <div class="row">
            <label>Passwort wiederholen: 
                <input type="password" name="password" [(ngModel)]="password_repetition" required />
            </label>
        </div>
        <div class="row">
            <input type="checkbox" name="newsletterSubscribed" [(ngModel)]="user.newsletterSubscribed" />
            <span>Ich möchte per E-Mail über Neuigkeiten und Angebote informiert werden.</span>
        </div>
        <div class="row">
            <label>
            <input type="checkbox" name="agbAccepted" [(ngModel)]="user.agbAccepted" required />
            <span>Ich akzeptiere die AGB</span></label>
        </div>
        <div class="row">
            <button type="submit">Register</button>
            <a routerLink="/auth/login">Login</a>
        </div>
    </form>
</div>