<div class="map-canvas-wrapper">
    <canvas #mapCanvas class="map-canvas">Your Browser doesn't support HTML Canvas</canvas>
</div>
<div class="loader-canvas-wrapper">
    <canvas #loaderCanvas class="loader-canvas">Your Browser doesn't support HTML Canvas</canvas>
</div>

<div class="audio-controls">
    <button (click)="toggleSound()" type="button">Turn off Sound</button>
</div>

<div class="map-controls">
    <form (ngSubmit)="onMapControlsSubmit()">
        <input type="text" name="controls.x" [(ngModel)]="controls.x" size="2" />
        <input type="text" name="controls.y" [(ngModel)]="controls.y" size="2" />
        <button type="submit">Springen</button> 
    </form>
</div>