
.map-canvas-wrapper, .map-canvas-wrapper .map-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

.loader-canvas-wrapper, .loader-canvas-wrapper .loader-canvas {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.audio-controls {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.map-controls {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 5px;
}